.header {
  height: 50px;
  background: #8c67f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

.item {
  height: 30px;
  width: 30px;
  background: #ddfaff;
}
