.listTodo {
  background: #fff;
  flex: 1;
  margin-inline-end: 0.3rem;
  align-self: flex-start;
}
.todoTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
  width: 100%;
  height: 30px;
}

.divider {
  margin: 0;
  background: #000;
  position: absolute;
  top: unset;
}

.title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}
.name {
  white-space: nowrap;
}

.active {
  background: #cfcfd0;
}
